<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (!orders) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <% orders.forEach(order => { %>
                    <ul>Order id: <%=order._id %>
                        <% order.products.forEach(product => { %>
                            <li><%=product.productData.title%> (<%=product.quantity%>)</li>
                        <% }) %>
                    </ul>
                <% }) %>
                
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>